@import 'src/tokens';

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  transition: $transition;
  cursor: pointer;
  transform: skew(25rad);
  padding: 0 15px;
  &__img-container {
    width: 70px;
    height: 84px;
    border: 3px solid white;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 7px;
    background-color: rgba(51,51,51,.75);
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      transform: skew(-25rad);
      object-fit: cover;

    }
  }
  &__name {
    transition: all .3s ease;
    opacity: 0;
    font-size: .6em;
    text-align: center;
    text-decoration: none;
    color: $overwatchMain;
    transition: opacity .3s ease;
  }
  &:hover {
    transform: scale(1.2);
    .Hero__name {
      opacity: 1;
    }
    .Hero__img-container img {
      transform: skew(0);
    }
  }
}
