.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__finding-game {
    margin: 0;
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 20px rgba(black,.25);
    font-style: italic;
    letter-spacing: -2px;
    transform: scaleY(1.75) scaleX(.75);
  }
  &__searching {
    text-transform: uppercase;
    font-style: italic;
    transform: scaleY(1.5) scaleX(.6);
    font-weight: bold;
    opacity: .5;
    font-size: 1.5rem;
  }
  &__disclaimer {
    text-align: center;
    p {
      font-size: .75em;
    }
    a {
      text-decoration: none;
      color: white;
      text-shadow: 0 0 5px rgba(black, .5);
      transition: text-shadow .3s ease-out;
      &:hover {
        text-shadow: 0 0 10px black;
      }
    }
  }
}
